
body {
  background-color: #fff0f5;
  color: #393e46;
}

hr {
  border-style: none;
  background-color: black;
  height: 1px
}

h1 {
  color: #f19292;
}

h2 {
  color: #f19292;
}

h4 {
  color: #f19292;
}
